.App {
  text-align: center;
}

.logo {
  height: 75px;
  padding: 10px;
}

#navlinks {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section {
  padding: 20px;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.top-hero{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.bottom-hero{
  max-width: 75%;
}

.hero img {
  max-width: 400px;
  margin: auto 15px;
  border-radius: 5px;
}

@media  screen and (min-width: 880px) {
  .white-shirt {
    display: none;
  }
}